@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


a {
  cursor: pointer;
}

#border input {
  border: none;
}

#border ::placeholder{
  color: #8c9499;
  font-weight: 200;
}

#nome-farma {
  color: #ffffff;
  margin-left: 4px;
  letter-spacing: 1px;
}

#nome-lab {
  color: #ffffff;
  font-weight: 200;
  font-size: .8rem;
  margin-left: 3px;
}

#nav-list,
#FAQ {
  color: #ffffff;
  font-weight: 400;
  font-size: .9rem;
  margin-left: 12px;
  border-radius: 30px;
  padding: 8px;
  transition: all .80s ease;
}

#nav-list:hover {
  background-color: #ffffff;
  color: #014B7B;
}

#FAQ {
  margin-right: 20px;
  padding: 6px 13px;
  background-color: #ffffff;
  color: #014B7B;
  transition: transform .60s;
}

#FAQ:hover {
  transform: scale(1.1);
  color: #014B7B;
}

#mapa {
  background-color: #ffffff;
  border-radius: 30px;
  color: #014B7B;
  padding: 7px;
  text-decoration: none;
}

#mapa:hover {
  opacity: 0.8;
}

#btn input {
  border-radius: 30px;
  color: #ffffff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 30%);
  border: none;
  padding: 8px;
  transition: transform .60s;
}

#btn :hover {
  transform: scale(1.1);
}

.container form {
  box-shadow: 0px 4px 15px rgb(0 0 0 / 21%);
}

.btn-list-med {
  color: #ffffff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 30%);
  transition: transform .60s;
  border: none;
  background-color: #014B7B;
  padding: 5px;
  border-radius: 30px;
}

.btn-list-med:hover {
  transform: scale(1.1);
}

#esqueceu-senha a {
  text-decoration: none;
  color: #014B7B;
  font-size: .9rem;
  font-weight: bold;
  transition: 0.30s;
}

#esqueceu-senha a:hover {
  opacity: 0.7;
}

#senha {
  line-height: 12px;
  font-size: .9rem;
  color: #014B7B;
}

#span {
  line-height: 40px;
}

h4 {
  color: #014B7B;
}

input {
  border: none;
}

#hamburguer {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 20px;
}

#responsive-menu {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-item {
  margin-bottom: 5px;
}


#diminuir-input input{
  width: 70px;
  text-align: center;
}

#diminuir-cep {
  width: 170px;
}

.modal-dialog {
  color: #535353;
}

#caixa-medicamento img {
  width: 120px;
}